.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2836;
    padding: 10px;
    padding-bottom: 30px;
    z-index: 10;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0 ,0 , 0.9);
    z-index: 10;
}
.modal-content {
    width: 40vw;
}
.modal-text {
    color: #F9B4ED;
    font-size: 15pt;
}

@media only screen and (max-width: 900px) { 
    .modal-content {
        width: 75vw;
    }
}